:root {
  --brand-color: #2196F3;
  --brand-color-two: #000000;
  --brand-color-three: #FFFFFF;
  --brand-font:"Raleway";
  --brand-font-style: normal;
  --brand-tekst-color:#757575;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@media screen and (max-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-bottom: 50px;
}

.mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(transition-dur-and-func), variable var(transition-dur-and-func);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-left: 40px 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 21px;
  right: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--brand-color);
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .contact {
    display: none;
  }
  .heder-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 15px;
  }
  .mobile-menu-btn {
    width: 40px;
    height: 40px;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-contact {
    padding-top: 48px;
    padding-left: 40px;
    list-style: none;
  }
  .mobile-contact__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contact__navigation {
    display: block;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto";
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    color: var(--brand-color-two);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.active {
  color: var(--brand-color);
}

.contact-items {
  display: block;
  margin-top: 302px;
  margin-bottom: 64px;
}

.contact-list__item {
  list-style: none;
}
.contact-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-list__icon {
  display: block;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.contact-list__icon-email {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  color: #757575;
}

.contact-sociale {
  display: flex;
  gap: 20px;
  margin: 0;
}

.contact-sociale__item {
  list-style: none;
  text-decoration: none;
}

.contact-list__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-btn {
    display: none;
  }
  .header {
    border: 1px solid #ECECEC;
  }
  .heder-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-navigation {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 30px;
  }
  .menu__item_active {
    position: relative;
  }
  .menu__item_active::after {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    margin-bottom: -33px;
    background-color: var(--brand-color);
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    column-gap: 51px;
    list-style: none;
    margin-left: 88px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0;
  }
  .menu__item {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    color: var(--brand-color-two);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__item:focus, .menu__item:hover {
    color: var(--brand-color);
  }
  .contact {
    display: block;
    list-style: none;
    padding: 0;
  }
  .contact__item {
    display: block;
    padding-bottom: 10px;
  }
  .contact__link {
    display: block;
    color: var(--brand-tekst-color);
    text-decoration: none;
    fill: var(--brand-tekst-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--brand-color);
    fill: var(--brand-color);
  }
  .Link__social-icon {
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 768px) {
  .header-navigation {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .hero-box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: linear-gradient(rgba(35, 35, 41, 0.6), rgba(47, 48, 58, 0.4)), url(../images/mobile-Header-img.jpg);
    padding-bottom: 118px;
  }
  .headline {
    font-family: "Roboto";
    color: var(--brand-color-three);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6153846154;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 118px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-left: 60px;
  }
  .cursor {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    color: var(--brand-color-three);
    background-color: var(--brand-color);
    padding: 10px 24px;
    display: block;
    min-width: 200px;
    margin: 0 auto;
    border: none;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    text-transform: uppercase;
    color: var(--brand-color-three);
    background-color: #2F303A;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(35, 35, 41, 0.6), rgba(47, 48, 58, 0.4)), url(../images/studio.jpg);
  }
  .hero-box {
    width: 100%;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 204px;
    padding-right: 204px;
  }
  .headline {
    font-family: "Roboto";
    font-style: var(--brand-font-style);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.6153846154;
  }
  .cursor {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    color: var(--brand-color-three);
    background-color: var(--brand-color);
    padding: 10px 32px;
    display: block;
    min-width: 216px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .headline {
    font-family: "Roboto";
    font-style: var(--brand-font-style);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding: 0;
  }
  .features-link {
    display: block;
    list-style: none;
    padding: 0;
  }
  .features-link__pic {
    display: block;
    width: 450px;
    min-height: 120px;
    text-align: center;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 0px;
    margin-bottom: 20px;
  }
  .features-list__subject {
    background-color: var(--brand-color-three);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .features-list__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    color: var(--brand-tekst-color);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    gap: 30px;
  }
  .features-link__icon {
    flex-basis: calc((100% - 30px) / 2);
    justify-content: center;
    margin-bottom: 30px;
  }
  .features-link__pic {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin: 0;
    fill: var(--brand-color-two);
    margin-right: 10px;
    background: #F5F4FA;
    border-radius: 4px;
  }
  .features-list__box {
    display: block;
    justify-content: space-between;
    background: var(--brand-color-three);
  }
  .features-list__subject {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    margin-bottom: 10px;
  }
  .features-list__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
    letter-spacing: 0.03em;
    color: var(--brand-tekst-color);
  }
}
@media screen and (min-width: 768px) {
  .features-link__icon {
    flex-basis: calc((100% - 90px) / 4);
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
.works-list {
  position: relative;
  justify-content: center;
}

.works-list__item {
  display: flex;
  position: relative;
  justify-content: center;
  column-gap: 30px;
  flex-wrap: nowrap;
  flex-basis: calc((100% - 60px) / 3);
  list-style: none;
}

.works-list__name {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
}

.works-list__work-tekst {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4285714286;
  text-transform: uppercase;
  padding: 27px 107px;
  color: var(--brand-color-three);
  background: rgba(47, 48, 58, 0.8);
}

.job {
  display: block;
  background: #F5F4FA;
  width: 100%;
  left: 0px;
  background: #F5F4FA;
}

.heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-two);
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 0;
}

.job-list {
  display: block;
  list-style: none;
  padding: 0;
}

.jop-list__item {
  text-align: center;
  width: 450px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.jop-list__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  margin-bottom: 10px;
}

.jop-list__titl {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-align: center;
  line-height: 1.71;
  color: var(--brand-tekst-color);
  margin-bottom: 16px;
}

.job-items {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-bottom: 25px;
  padding-left: 0;
}

.job-item__social-icon {
  fill: var(--brand-tekst-color);
}

@media screen and (min-width: 768px) {
  .job-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .jop-list__item {
    flex-basis: calc((100% - 30px) / 2);
    justify-content: center;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .job {
    background: #F5F4FA;
  }
  .job-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 90px) / 4);
  }
  .job-items {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }
  .job-items__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .job-items__social:hover, .job-items__social:focus {
    background-color: var(--brand-color);
  }
  .job-item__social-icon {
    fill: var(--brand-tekst-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .job-items__social:hover .job-item__social-icon,
.job-items__social:focus .job-item__social-icon {
    fill: var(--brand-color-three);
  }
  .jop-list__item {
    background-color: var(--brand-color-three);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .jop-list__box {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .jop-list__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
  }
  .jop-list__titl {
    line-height: 1.71;
    color: var(--brand-tekst-color);
    margin-bottom: 16px;
  }
}
.client {
  margin-bottom: 60px;
}

.client-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.client-items__list {
  list-style: none;
}

.client-items__social {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  background-color: #FFFFFF;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-items__social:hover, .client-items__social:focus {
  border: 1px solid var(--brand-color);
}

.client-items__social-icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-items__social:hover .client-items__social-icon,
.client-items__social:focus .client-items__social-icon {
  fill: var(--brand-color);
}

@media screen and (min-width: 767px) {
  .client-items {
    flex-basis: calc((100% - 60px) / 3);
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
}
.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  text-align: center;
}

.footer-List {
  font-style: normal;
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.footer-address__link {
  font-family: var(--brand-font);
  font-style: var(--brand-font-style);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color);
}
.footer-address__link:focus, .footer-address__link:hover {
  color: var(--brand-color);
}

.footer-address__link.active {
  color: var(--brand-color);
}

.footer-List__item {
  margin-bottom: 10px;
}

.footer-List__address {
  color: var(--brand-color-three);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-List__address:focus, .footer-List__address:hover {
  color: var(--brand-color);
}

.footer-List__contact {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-List__contact:focus, .footer-List__contact:hover {
  color: var(--brand-color);
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.social {
  padding: 0;
}

.name-social {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
  fill: var(--brand-color-three);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--brand-color);
}

.cleint-mail {
  display: block;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  gap: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-mail__name {
  display: block;
}

.client-mail__social {
  width: 450px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
}

.client-mail__social:active {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.client-mail__cursor-out {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--brand-color-three);
  text-transform: capitalize;
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  width: 200px;
  border: none;
  margin-left: 12px;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-mail__icon-out {
  margin-left: 10px;
  fill: var(--brand-color-three);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: center;
  }
  .container-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .footer_address {
    flex-basis: calc(50% - 15px);
  }
  .social {
    flex-basis: calc(50% - 15px);
  }
  .cleint-mail__out {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .client-mail__cursor-out {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 767px) {
  .modal {
    display: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--brand-color-three);
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-radius: 50%;
  background-color: var(--brand-color-three);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover,
.modal__close-btn:hover {
  border-color: var(--brand-color);
}

.model__close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .model__close-btn-icon,
.modal__close-btn:hover .model__close-btn-icon {
  fill: var(--brand-color);
}

.modal-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-desc {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  color: var(--brand-tekst-color);
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:active {
  border: 1px solid var(--brand-color);
}

.modal-form-input:focus {
  border: 1px solid var(--brand-color);
}

.modal-form-icon {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.modal-form-input:hover {
  border-color: var(--brand-color);
}

.modal-form-input:hover + .modal-form-icon {
  fill: var(--brand-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--brand-color);
}

.modal-form-own-check {
  background: #FFFFFF;
  border: 0.2px solid #303030;
  cursor: pointer;
  padding: 2px;
  margin-right: 7px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-own-check {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-form-check:focus + .modal-form-own-check {
  background-color: var(--brand-color);
}

.modal-form-own-check-icon {
  display: none;
  fill: var(--brand-color-three);
}

.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
  display: block;
}

.modal-form-check-wrapper {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--brand-tekst-color);
  margin-top: 10px;
}

.modal-form-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--brand-color);
  text-decoration: underline;
}

.modal-form-btn {
  flex-direction: row-reverse;
  align-self: center;
  width: 200px;
  height: 50px;
  left: 700px;
  padding: 0px;
  margin-top: 30px;
  color: var(--brand-color-three);
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*=================PORTFOLIO==========*/
.order-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  color: var(--brand-color-three);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.aside {
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
  flex-basis: calc((100% - 60px) / 3);
}

.aside-animation {
  overflow: hidden;
  position: relative;
}

.aside-subject {
  display: block;
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aside-tekst {
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: var(--brand-color-three);
  background: rgba(33, 150, 243, 0.9);
}

.aside-list {
  display: block;
  position: relative;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aside-list:hover, .aside-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.aside-list:hover .aside-subject,
.aside-list:focus .aside-subject {
  transform: translateY(0);
}

.aside-list-items {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.caption {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--brand-tekst-color);
}

.accent-three {
  font-family: var(--brand-font);
  font-style: var(--brand-font-style);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--brand-color-three);
}/*# sourceMappingURL=main.css.map */