/* :root {
    --brand-color: #2196F3;
    --brand-color-two: #000000;
    --brand-color-three: #FFFFFF;
    --brand-font:"Raleway";
    --brand-font-style: normal;
    --brand-tekst-color:#757575;
} */

/* body {
margin: 0;
font-family: "Roboto", sans-serif;
font-size: 14px;
line-height: 1.14;
color: #212121;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p,
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
text-decoration: none; 
}

img {
    display: block;
}

.cursor,
.btn {
    cursor: pointer;
} */

/* .container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
} */

/* .heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        padding-bottom: 50px;
} */

/* .section {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  } */

/* .nav-link.active {color: var(--brand-color);} */
    /* outline-style: auto; */


/*Стилі для index.html*/

/*====================header===========================*/

/* .header {
    border: 1px solid #ECECEC;

} */

/* .heder-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

} 

.header-navigation {
    display: flex;
    justify-content: center;
}

 .active {
    position: relative;
}

.active::after {
    content: " ";
    display:block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    margin-bottom: -33px;
    background-color: var(--brand-color);
}

.accent {
    font-family: var(--brand-font);
    font-style: var(--brand-font-style);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--brand-color);
}

.accent-two {
    font-family: var(--brand-font);
    font-style: var(--brand-font-style);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;    
    color: var(--brand-color-two);
}

.header-navigation {
    display: flex;
    align-items: center;

}

.menu {
    display: flex;
    column-gap: 50px;
    margin-left: 93px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.nav-link { 
    font-weight: 500;
    color: var(--brand-color-two);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-contacts {
    display: flex;
    color: var(--brand-tekst-color);
    text-decoration: none;
    fill: var(--brand-tekst-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.nav-link:focus {color: var(--brand-color);}
.nav-link:hover {color: var(--brand-color);}

.nav-link-contacts:hover {color: var(--brand-color); fill: var(--brand-color);}
.nav-link-contacts:focus {color: var(--brand-color); fill: var(--brand-color);}


.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.contact-navigation {
    
} */


/*------------------hero--------------------*/

/* .hero {
    text-transform:uppercase;
    color: var(--brand-color-three);
    background-color: #2F303A;
    background-image: linear-gradient(rgba(35, 35, 41, 0.6), rgba(47, 48, 58, 0.4)), url(../images/studio.jpg);
}

.hero-box {
    width: 700px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.headline {
    font-family: 'Roboto';
    font-style: var(--brand-font-style);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    min-width: 696px;
    margin-bottom: 30px;
    }

.cursor {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--brand-color-three);
    background-color: var(--brand-color);
    padding: 10px 32px;
    display: block;
    min-width: 216px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
} */

/*---------------features-----------*/

/* .features-section-link {   
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
    column-gap: 30px;
    flex-wrap: nowrap;
}
    
    .features-section-icon {
        display: flex;
        width: 270px;
        min-height: 120px;
        justify-content: center;
        align-items: center;
        background: #F5F4FA;
        border-radius: 4px;
        border: #F5F4FA;
        margin-bottom: 30px;
    } 

.features-section-list {
    display: flex;
    column-gap: 30px;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 90px) / 4);
  }

  .navigation-social-icon {
    display: flex;
    fill: var(--brand-tekst-color);
    margin-right: 10px;
  }

  .social-icon {margin-right: 10px;}

  .features-list-box {
    min-width: 270px;
  }

.subject {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}
    
.text {
    line-height: 1.71;
    color: var(--brand-tekst-color);
}
 */

/*===========================works=========================*/

/* .works-list {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
}

.works-items {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
}


.works-name {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.work-tekst {
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.142;
width: 370px;
text-transform: uppercase;
padding: 27px 107px;
color: var(--brand-color-three);
background: rgba(47, 48, 58, 0.8);
}
 */


/*===========================job================================*/
/* 
.job {
    background: #F5F4FA;
}

.job-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 90px) / 4);
}


.job-items {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.job-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.job-item-social-icon {
    fill: var(--brand-tekst-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.job-item-social-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.job-social-icon:hover,
.job-social-icon:focus {
    background-color: var(--brand-color);
}


.job-social-icon:hover .job-item-social-icon,
.job-social-icon:focus .job-item-social-icon {
    fill: var(--brand-color-three);
}

.jop-list-item {
    background-color: var(--brand-color-three);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}


.jop-list-item-box {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.job-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    
}

.job-titl {
    line-height: 1.71;
    color: var(--brand-tekst-color);
    margin-bottom: 16px;
}
 */
/*=====================client====================*/
/* 

.client-item {
    display: flex;
    justify-content: center;
    column-gap: 30px;

}

.client-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 170px;
    height: 92px;
    background-color: #FFFFFF;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-social-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.client-social-icon:hover,
.client-social-icon:focus {
    border: 1px solid var(--brand-color);
}

.client-social-icon:hover .link-social-icon,
.client-social-icon:focus .link-social-icon {
    fill: var(--brand-color);
}
 */
/*=============================Футер=============*/

/* 
.footer {
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    }

.footer-logo-address {

   
}

.footer-address {
    font-style: normal;
}

.list-address {
    margin-top: 20px;
}

.list-mail {
    margin-top: 10px;
}

.list-tel {
    margin-top: 10px;
}

.nav-link-adres {
    color: var(--brand-color-three);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-kont {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-adres:focus, 
.nav-link-adres:hover {
    color: var(--brand-color);
}

.nav-link-kont:focus, 
.nav-link-kont:hover {
    color: var(--brand-color);
}

.social { 
    padding-left: 70px;


    
}

.social-list {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.name-social {
    display: flex;
    font-weight: 700;    
    line-height: 1.17;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.social-items-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-items-icon-link-list {
    fill: var(--brand-color-three);
}

.social-items-icon-link:hover,
.social-items-icon-link:focus {
    background-color: var(--brand-color);
}


.cleint-mail {
   display: block;
    margin-left: 93px; 
}


.cleint-mail-list {
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
}

.social-items-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cleint-mail-out {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-mail-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-mail-name {
width: 358px;
height: 50px;
left: 815px;
top: 2784px;
font-size: 16px;
line-height: 1.25;
padding: 15px;
color: rgba(255, 255, 255, 0.6);
background-color: #2F303A;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
}

.social-mail-name:active {
border: 1px solid rgba(255, 255, 255, 0.3);

}

.cursor-out {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--brand-color-three);
    text-transform: capitalize;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;
    width: 200px;
    border: none;
    margin-left: 12px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-mail-icon-out { 
    margin-left: 10px;
    fill: var(--brand-color-three);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
 */

/*================Стилі для портфоліє=================*/

/* 
.order-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.order-list-item {
     
}

.btn {
font-weight: 500;
font-size: 16px;
line-height: 1.625;
padding-top: 6px;
padding-right: 22px;
padding-bottom: 6px;
padding-left: 22px;
border-radius: 4px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {color: var(--brand-color-three);
    background-color: var(--brand-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.aside {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 2 * 30px) / 3);
}

.aside-animation {
    overflow: hidden;
    position: relative;
}

.aside-subject {
    display: block;
    position: absolute;
    width: 370px;
    height: 294px;
    top: 0;
    left: 0;
    transform: translateY(+100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aside-tekst {
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;  
    padding: 63px 24px;
    color: var(--brand-color-three);
    background: rgba(33, 150, 243, 0.9);
}


.aside-list {
display: block;
position: relative;
background: #FFFFFF;
border: 1px solid #EEEEEE;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aside-list:hover .aside-subject,
.aside-list:focus .aside-subject {
    transform: translateY(0);
    
}
.aside-list:hover, .aside-list:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.aside-list-items {
    border: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.caption {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
}

.desc {
font-weight: 400;
font-size: 16px;
line-height: 1.875;
color: var(--brand-tekst-color);
}

.accent-three {
    font-family: var(--brand-font);
    font-style: var(--brand-font-style);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;    
    color: var(--brand-color-three);
} */

/*=======================backdrop======================*/
/* 
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--brand-color-three);
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 50%;
    background-color: var(--brand-color-three);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-close-btn:hover,
.modal-close-btn:hover {
    border-color: var(--brand-color);
}

.model-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-close-btn:hover .model-close-btn-icon,
.modal-close-btn:hover .model-close-btn-icon {
   fill: var(--brand-color);
}
 */
/*=======================MODAL FORM==========================*/
/* 
.modal-caption {
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form-field {
    margin-bottom: 10px;
}


.modal-form-field-desc {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    color: var(--brand-tekst-color);
    margin-bottom: 4px;

}

.modal-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:active {
    border: 1px solid var(--brand-color);
}

.modal-form-input:focus {
    border: 1px solid var(--brand-color);
}

.modal-form-icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;

}

.modal-form-input:hover {
    border-color: var(--brand-color);
}

.modal-form-input:hover + .modal-form-icon {
        fill: var(--brand-color);
}

.modal-form-message {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
    outline: none;
    border-color: var(--brand-color);
}
.modal-form-own-check {
    background: #FFFFFF;
    border: 0.2px solid #303030;
    cursor: pointer;
    padding: 2px;
    margin-right: 7px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.modal-form-check:checked + .modal-form-own-check {
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
}


.modal-form-check:focus + .modal-form-own-check {
    background-color: var(--brand-color);
}



.modal-form-own-check-icon {
    display: none;
    fill: var(--brand-color-three);
}



.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
    display: block;
}

.modal-form-check-wrapper {
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: var(--brand-tekst-color);
    margin-top: 10px;
}

.modal-form-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--brand-color);
    text-decoration: underline;
    
}

.modal-form-btn {
flex-direction: row-reverse;
align-self: center;
width: 200px;
height: 50px;
left: 700px;
padding: 0px;
margin-top: 30px;
color: var(--brand-color-three);
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
    background: var(--brand-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

} */
