@media screen and (max-width: 767px) {
  .features-link {
    display: block;
    list-style: none;
    padding: 0;
  }

  .features-link__pic {
    display: block;
    width: 450px;
    min-height: 120px;
    text-align: center;
    background: #f5f4fa;
    border-radius: 4px;
    padding: 25px 0px;
    margin-bottom: 20px;
  }

  .features-list__subject {
    background-color: var(--brand-color-three);
    @include font(14px, 700, 16px);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .features-list__text {
    @include font(14px, 400, 24px);
    color: var(--brand-tekst-color);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    gap: 30px;
  }

  .features-link__icon {
    flex-basis: calc((100% - 30px) / 2);
  }

  .features-link__pic {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin: 0;
    fill: var(--brand-color-two);
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  .features-list__box {
    display: block;
    justify-content: space-between;
    background: var(--brand-color-three);
  }

  .features-list__subject {
    @include font(14px, 700, 16px);
    margin-bottom: 10px;
  }

  .features-list__text {
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
    color: var(--brand-tekst-color);
  }
}

@media screen and (min-width: 1200px) {
  .features-link__icon {
    flex-basis: calc((100% - 30px * 3) / 4);
    justify-content: center;
    margin-bottom: 30px;
  }
}
