
.footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
    text-align: center;
    }

.footer-List {
    font-style: normal;
    list-style: none;
    padding: 0;
    margin-bottom: 60px;
}

.footer-address__link {
    font-family: var(--brand-font);
    font-style: var(--brand-font-style);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--brand-color);

    &:focus,
    &:hover {color: var(--brand-color);
    } 
}

.footer-address__link.active {
color: var(--brand-color);
}

.footer-List__item {
    margin-bottom: 10px;
}

.footer-List__address {
    color: var(--brand-color-three);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus, 
    &:hover {
    color: var(--brand-color);
}
}

.footer-List__contact {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus, 
    &:hover {
        color: var(--brand-color);
    }
}

.social-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.social {
padding: 0;

}

.name-social {
    display: block;
    text-align: center;
    @include font(14px, 700, 16px);
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
    fill: var(--brand-color-three);
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: var(--brand-color);
}

.cleint-mail {
   display: block;

}

.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    gap: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-mail__name {
    display: block;
  
}

.client-mail__social {
width: 450px;
height: 50px;
font-size: 16px;
line-height: 1.25;
padding: 15px;
color: rgba(255, 255, 255, 0.6);
background-color: #2F303A;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
margin-bottom: 20px;
}

.client-mail__social:active {
  
border: 1px solid rgba(255, 255, 255, 0.3);

}

.client-mail__cursor-out {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    color: var(--brand-color-three);
    text-transform: capitalize;
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 28px;
    width: 200px;
    border: none;
    margin-left: 12px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-mail__icon-out { 
    margin-left: 10px;
    fill: var(--brand-color-three);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}








@media screen and (min-width: 768px) {


.footer {
    text-align: center;
}
.container-footer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
}


.footer_address {
        flex-basis: calc(50% - 15px);
}
.social {
        flex-basis: calc(50% - 15px);
}


.cleint-mail__out {
        display: flex;
        justify-content: center;
        align-items: center;
}



    .client-mail__cursor-out {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        }       
}






// .footer {
//     display: flex;
//     justify-content: left;
//     align-items: baseline;
//     padding-top: 60px;
//     padding-bottom: 60px;
//     background-color: #2F303A;
//     }

// .footer-List {
//     font-style: normal;
//     margin-top: 20px;
// }

// .footer-address__link {
//     font-family: var(--brand-font);
//     font-style: var(--brand-font-style);
//     font-weight: 700;
//     font-size: 26px;
//     line-height: 1.19;
//     color: var(--brand-color);

//     &:focus,
//     &:hover {color: var(--brand-color);
//     } 
// }

// .footer-address__link.active {
// color: var(--brand-color);
// }

// .footer-List__item {
//     margin-bottom: 10px;
// }

// .footer-List__address {
//     color: var(--brand-color-three);
//     text-decoration: none;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:focus, 
//     &:hover {
//     color: var(--brand-color);
// }

// }

// .footer-List__contact {
//     text-decoration: none;
//     color: rgba(255, 255, 255, 0.6);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
//     &:focus, 
//     &:hover {
//         color: var(--brand-color);
//     }
// }

// .social { 
//     padding-left: 70px;
// }

// .social-list {
//     display: flex;
//     gap: 10px;
//     justify-content: left;
//     align-items: center;
// }

// .name-social {
//     display: flex;
//     font-weight: 700;    
//     line-height: 1.17;
//     text-transform: uppercase;
//     color: #FFFFFF;
//     margin-bottom: 20px;
// }

// .social-list__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     background-color: rgba(255, 255, 255, 0.1);;
//     border-radius: 50%;
//     gap: 10px;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .social-list__icon {
//     fill: var(--brand-color-three);
// }

// .social-list__link:hover,
// .social-list__link:focus {
//     background-color: var(--brand-color);
// }

// .cleint-mail {
//    display: block;
//     margin-left: 93px; 
// }

// .social-list__link {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 44px;
//     height: 44px;
//     background-color: rgba(255, 255, 255, 0.1);;
//     border-radius: 50%;
//     gap: 10px;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .cleint-mail__out {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .client-mail__name {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .client-mail__social {
// width: 358px;
// height: 50px;
// left: 815px;
// top: 2784px;
// font-size: 16px;
// line-height: 1.25;
// padding: 15px;
// color: rgba(255, 255, 255, 0.6);
// background-color: #2F303A;
// border: 1px solid rgba(255, 255, 255, 0.3);
// filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
// border-radius: 4px;
// }

// .client-mail__social:active {
// border: 1px solid rgba(255, 255, 255, 0.3);

// }

// .client-mail__cursor-out {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.875;
//     color: var(--brand-color-three);
//     text-transform: capitalize;
//     background: var(--brand-color);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     padding: 10px 28px;
//     width: 200px;
//     border: none;
//     margin-left: 12px;
//     cursor: pointer;
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .client-mail__icon-out { 
//     margin-left: 10px;
//     fill: var(--brand-color-three);
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }
