@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(35, 35, 41, 0.6), rgba(47, 48, 58, 0.4)),
      url(../images/mobile-Header-img.jpg);
  }

  .hero-box {
  }

  .headline {
    font-family: 'Roboto';
    color: var(--brand-color-three);
    @include font(26px, 900, 42px);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .cursor {
    font-family: 'Roboto';
    @include font(16px, 700, 30px);
    color: var(--brand-color-three);
    background-color: var(--brand-color);
    padding: 10px 24px;
    display: block;
    min-width: 200px;
    margin: 0 auto;
    border: none;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    text-transform: uppercase;
    color: var(--brand-color-three);
    background-color: #2f303a;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(35, 35, 41, 0.6), rgba(47, 48, 58, 0.4)),
      url(../images/studio.jpg);
    
  }

  .hero-box {
    width: 100%;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 198px;
  }

  .headline {
    font-family: 'Roboto';
    font-style: var(--brand-font-style);
    @include font(26px, 900, 42px);
    padding: 0px 204px 30px 204px;
  }

  .cursor {
    font-family: 'Roboto';
    @include font(16px, 700, 30px);
    color: var(--brand-color-three);
    background-color: var(--brand-color);
    padding: 10px 32px;
    display: block;
    min-width: 216px;
    margin: 0 auto;
    border-radius: 4px;
    border: none;
  }
}

@media screen and (min-width: 1200px) {
 
    .hero-box {
        width: 100%;
        text-align: center;
        padding-top: 200px;
        padding-bottom: 280px;
    }
 
    .headline {
    font-family: 'Roboto';
    font-style: var(--brand-font-style);
    @include font(44px, 900, 60px);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
