.modal-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-desc {
  display: block;
  font-size: 12px;
  line-height: 1.16;
  color: var(--brand-tekst-color);
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:active {
  border: 1px solid var(--brand-color);
}

.modal-form-input:focus {
  border: 1px solid var(--brand-color);
}

.modal-form-icon {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 10px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.modal-form-input:hover {
  border-color: var(--brand-color);
}

.modal-form-input:hover + .modal-form-icon {
  fill: var(--brand-color);
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--brand-color);
}
.modal-form-own-check {
  background: #ffffff;
  border: 0.2px solid #303030;
  cursor: pointer;
  padding: 2px;
  margin-right: 7px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-own-check {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-form-check:focus + .modal-form-own-check {
  background-color: var(--brand-color);
}

.modal-form-own-check-icon {
  display: none;
  fill: var(--brand-color-three);
}

.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
  display: block;
}

.modal-form-check-wrapper {
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--brand-tekst-color);
  margin-top: 10px;
}

.modal-form-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--brand-color);
  text-decoration: underline;
}

.modal-form-btn {
  flex-direction: row-reverse;
  align-self: center;
  width: 200px;
  height: 50px;
  left: 700px;
  padding: 0px;
  margin-top: 30px;
  color: var(--brand-color-three);
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
