@media screen and (max-width: 1199px) {
    .works {
      display: none;
    }
}

.works-list {
    position: relative;
    justify-content: center;
   
}

.works-list__item { display: flex;
    position: relative;
    justify-content: center;
    column-gap: 30px;
    flex-wrap: nowrap;
    flex-basis: calc((100% - 60px) / 3);
    list-style: none;}

.works-list__name {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;

}

.works-list__work-tekst {
    @include font(14px, 700, 20px);
        text-transform: uppercase;
        padding: 27px 107px;
        color: var(--brand-color-three);
        background: rgba(47,48,58,.8);
    }


    