@media screen and (max-width: 1199px) {
    .works {
      display: none;
    }
}

@media screen and (min-width: 1200px) {

.works-list {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
      
   }

.works-list__item { 
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
}

.works-list__name {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;

}

.works-list__work-tekst {
    @include font(14px, 700, 20px);
        text-transform: uppercase;
        text-align: center;
        width: 370px;
        padding: 27px 0;       
        color: var(--brand-color-three);
        background: rgba(47,48,58,.8);
    }
}


    