@media screen and (max-width: 1199px) {
    .works {
      display: none;
    }
}




.works-list {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    flex-wrap: wrap;
    flex-basis: calc((100% - 60px) / 3);
}

.works-list__item {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
}



.works-list__name {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
   
}

.works-list__work-tekst {
font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.142;
width: 370px;
text-transform: uppercase;
padding: 27px 107px;
color: var(--brand-color-three);
background: rgba(47, 48, 58, 0.8);
}
