body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
    }
    
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6,
    p,
    ul,
    ol {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    ul,
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    a {
    text-decoration: none; 
    }
    
    img {
        display: block;
    }
    
    .cursor,
    .btn {
        cursor: pointer;
    }